* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}
/* header start */
.header {
    background-color: #343334;
    height: 50px;
}

.header-conteiner {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding-top: 10px;

}

.logo {
    float: left;
    font-size: 30px;
    font-weight: bold;
    width: 40%;
    margin-top: -7px;
    color: rgb(181,179,182);

}

.nav {
    background-color: #232223;
    color: rgb(181,179,182);
    float: right;
    display: block;
    width: 60%;
    float: right;
    height: 20px;
}

.nav a {
    margin-right: 20px;
color: aliceblue;
}
/* header end */

 /* first section start --> */
.first-section-conteiner{
    width: 70%;
    height: 350px;
    margin: 15px auto;
}
.first-section-left-conteiner{
height: 100%;
width: 39%;
float: left;
background-color: #E1E0E2;
}
.first-section-right-conteiner{
    height: 100%;
    width: 59%;
    float: right;
    background-color:#343334;
}
 /* first section end --> */
 /* 3 column conteiner start */
.three-column-conteiner{
width: 70%;
margin: 0 auto;

}
.three-column-inner{
    width:calc(33.3% - 10px) ;
    text-align: justify;
    float: left;
    padding-right: 10px;
    
    
}
.photo{
    float: left;
    width: 50px;
    height: 50px;
    border: 2px solid silver;
    margin-right: 10px;
    padding: 5px;

}
.three-column-conteiner p{
    line-height: 1.4;
    text-align: justify;
}
.button{
    text-align: right;
    color: orange;
    padding: 0px 5px 5px 0px;
}





 /* 3 column conteiner end */
 /* 4 column section start */

.four-column-section{
    clear: both;
}
.four-column-conteiner{
    width: 70%;
    margin: 0 auto;
}
.four-column-article{
    width: calc(25% - 20px);
    float: left;
    padding: 10px;
}
.photo-two{
    width: 100%;
    height: 100px;
}

 /* 4 column section end */
 /* footer start */
 .footer{
    clear: both;
    background-color: #343334;
    height: 150px;
 }
 /* footer end */